@{
    ViewBag.Title = null;
}

<!DOCTYPE html>
<html>
<body>

    <h2 class="page_title_header">@ViewBag.Title</h2>

    <!--Heading-->
    <hr class="featurette-divider1">
    <h1 class="myOwn_H1">My Favorite comic books.</h1>
    <hr class="featurette-divider">

    <!--the columns of the text and images-->
    <div class="row1 featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Spider-Man: <span class="text-muted"> Big Time</span></h2>
            <p class="lead">
                It is a series of comic book storylines in The Amazing Spider-Man,
                published by Marvel Comics from 2010 to 2011. It follows the 102 consecutive issues
                of the "Brand New Day" publishing scheme and is the first shift in publishing for The Amazing Spider-Man since "Brand New Day"
                <a href="https://en.wikipedia.org/wiki/Spider-Man:_Big_Time" class="lead fav_links">began</a>.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"
                 src="https://books.google.co.za/books/content?id=M7RK8B3b_egC&pg=PA1&img=1&zoom=3&hl=en&sig=ACfU3U13gsiCSZOPm8O6H8KKy0w6QR1y-A&w=1280">
        </div>
    </div>

    <!--the divider line-->
    <hr class="featurette-divider">

    <div class="row1 featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Invincible Volume 3: <span class="text-muted">Perfect Strangers.</span></h2>
            <p class="lead">
                Mark Grayson is just like everyone else his age, except that his father is the most powerful
                super-hero on the planet. And now he's begun to inherit his father's powers. It all sounds okay at first,
                but how do you follow in your father's footsteps when you know you will never live up to his
                <a href="https://books.google.co.za/books/about/Invincible.html?id=NnSYGQAACAAJ&source=kp_book_description&redir_esc=y" class="lead fav_links">standards?</a>
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"
                 src="https://books.google.co.za/books/publisher/content?id=yG8ZAgAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&sig=ACfU3U2LqMMyZcZAhnuqqz2-O0HsPPeB8Q&w=1280">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row1 featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Avatar The Last Airbender: <span class="text-muted">The Lost Adventures and Team Avatar Tales</span></h2>
            <p class="lead">
                Follow Team Avatar as they journey through the four nations! From Earth King Kuei to the Kyoshi Warriors,
                and Mai to the Boulder, your favorite Avatar: The Last Airbender friends are back for a wide-ranging exploration of life in their world.
                And where they go, danger, fun, and hijinks are sure to
                <a href="https://www.darkhorse.com/Books/3007-614/Avatar-The-Last-Airbender--The-Lost-Adventures-and-Team-Avatar-Tales-Library-Edition-HC" class="lead fav_links">follow!</a>.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"
                 src="https://kbimages1-a.akamaihd.net/22cab7b1-b666-4cae-bcca-5f052923da0c/353/569/90/False/avatar-the-last-airbender-the-lost-adventures-and-team-avatar-tales-library-edition.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row1 featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Black Widow: <span class="text-muted"> Widow's Sting.</span></h2>
            <p class="lead">
                Something’s stirring in the criminal underworld. Maggia boss SILVERMANE is making his
                move. S.H.I.E.L.D. has sent an agent in to investigate, but they’ve disappeared.
                It’s time to call in the heavy hitters. It’s time to call in the BLACK WIDOW.
                And the plan NATASHA ROMANOFF will uncover is far deadlier than any of them realized.
                Don’t miss this all–new tale from the dangerous, deep–cover days of the
                <a href="https://en.wikipedia.org/wiki/Spider-Man:_Big_Time" class="lead fav_links">Black Widow!</a>.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"
                 src="https://cdn.marvel.com/u/prod/marvel/i/mg/5/03/601898d81a213/clean.jpg">
        </div>
    </div>

    <hr class="featurette-divider">

</body>
</html>