@{
    ViewBag.Title = null;
}
<h2 class="page_title_header">@ViewBag.Title</h2>

<!DOCTYPE html>
<html>
<body>

    <!--Heading-->
    <hr class="featurette-divider1">
    <h1 class="myOwn_H1">Latest News</h1>
    <hr class="featurette-divider">


    <!--Slides-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="https://static0.cbrimages.com/wordpress/wp-content/uploads/2023/03/city-boy.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="latest_Heading">City Boy</h1>

                        <p><a class="btn btn-lg btn-default" href="https://www.gamesradar.com/dcs-new-hero-city-boy-gets-his-own-globetrotting-title-this-may/" role="button">View More</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2023/02/spirit-world.jpg?q=50&fit=crop&w=943&dpr=1.5" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Spirit World</h1>

                        <p><a class="btn btn-lg btn-default" href="https://leagueofcomicgeeks.com/comic/3947565/spirit-world-1" role="button">View More</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2023/02/ultimate-invasion.jpg?q=50&fit=crop&w=943&dpr=1.5" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Ultimate Invasion</h1>
                        <p><a class="btn btn-lg btn-default" href="https://www.marvel.com/articles/comics/ultimate-invasion-jonathan-hickman-bryan-hitch-transformation-marvel-universe-begins" role="button">View More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--Column of list of books-->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="https://static1.srcdn.com/wordpress/wp-content/uploads/2023/02/azula-in-the-spirit-temple-full-cover.jpg?q=50&fit=crop&dpr=1.5" alt="Generic placeholder image" width="140" height="140">
            <h2>Azula in the Spirit Temple </h2>
            <p class="book_space">
                Of all the various villains throughout Avatar: The Last Airbender, Azula has remained
                a fan-favorite throughout. The mentally unstable and wildly powerful - but surprisingly
                sympathetic at times because of her upbringing - firebending prodigy is known for fighting
                against Team Avatar and her brother at every turn.
            </p>
            <p><a class="btn btn-default btn_space1" href="https://screenrant.com/avatar-last-airbender-azula-spirit-temple-comic-preview/" role="button">View details »</a></p>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="https://cdn.marvel.com/u/prod/marvel/i/mg/8/e0/641e08c11bc6e/clean.jpg" alt="Generic placeholder image" width="140" height="140">

            <h2>Invincible Iron Man</h2>
            <p class="book_space">
                GENIUS, BILLIONAIRE, PLAYBOY…MADMAN?! Tony Stark has met his dark counterpart, and
                his name is Feilong! This mutant-hating industrialist is the new owner of Stark Unlimited,
                and that includes all of Tony's tech! Can a furious Tony keep his cool, or will vengeance
                get the better of him?
            </p>
            <p><a class="btn btn-default btn_space2" href="https://www.marvel.com/comics/issue/101532/invincible_iron_man_2022_4" role="button">View details »</a></p>
        </div>

        <div class="col-lg-4">
            <img class="img-circle" src="https://cdn.marvel.com/u/prod/marvel/i/mg/9/b0/64346af93aef4/clean.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Venom: Lethal Protector II</h2>
            <p class="book_space">
                VENOM GOES WILD! VENOM and international super-spy SILVER SABLE have
                formed an unsteady alliance to stop a doomsday weapon from falling into the wrong hands.
                But they’re not the only players in the game – Nick Fury and S.H.I.E.L.D. are recruiting…and
                why does DOCTOR DOOM have his eye on the prize, and what does he want from the Venom symbiote?!
            </p>
            <p><a class="btn btn-default btn_space3" href="https://www.marvel.com/comics/issue/106187/venom_lethal_protector_ii_2023_2" role="button">View details »</a></p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="https://cdn.marvel.com/u/prod/marvel/i/mg/d/30/643469f225120/clean.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Deadpool #6</h2>
            <p class="book_space">
                Love is in the air as Deadpool takes his new romance, Valentine, out on the town!
                Unfortunately, bullets, blades and explosive devices are also in the air
                since both of them have enemies who want them DEAD.
            </p>
            <p><a class="btn btn-default btn_space4" href="https://www.marvel.com/comics/issue/93033/deadpool_2022_6" role="button">View details »</a></p>
        </div>



        <div class="col-lg-4">
            <img class="img-circle" src="https://cdn.marvel.com/u/prod/marvel/i/mg/1/03/64346a139a505/clean.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Daredevil #10</h2>
            <p class="book_space">
                With Elektra at his side, Matt Murdock has launched his most ambitious campaign against injustice EVER,
                but as recent explosive and destructive events have unfolded, he has found himself more and more isolated — and with fewer
                allies than ever before…
            </p>
            <p><a class="btn btn-default btn_space2" href="https://www.marvel.com/comics/issue/101086/daredevil_2022_10" role="button">View details »</a></p>
        </div>


        <div class="col-lg-4">
            <img class="img-circle" src="https://cdn.marvel.com/u/prod/marvel/i/mg/3/80/643469f02f50d/clean.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Doctor Strange #2</h2>
            <p class="book_space">
                An unending sleeping sickness has struck the children of Bleecker Street!
                There can only be one culprit behind this attack. It’s up to Doctor Strange and Clea to travel into the Dream
                Dimension to confront their old foe, Nightmare. But all is not what they seem…and what they discover will shock them!
            </p>
            <p><a class="btn btn-default btn_space3" href="https://www.marvel.com/comics/issue/105849/doctor_strange_2023_2" role="button">View details »</a></p>
        </div>

    </div>

</body>
</html>