@{
    ViewBag.Title = null;
}
<h2 class="page_title_header">@ViewBag.Title</h2>

<!DOCTYPE html>
<html>
<body>

    <!--Heading-->
    <hr class="featurette-divider1">
    <h1 class="myOwn_H1">Location</h1>
    <hr class="featurette-divider">

    <!--maps of books locations-->
    <div>
        <h1 class="myOwn_H2">Location of comic book stores in my area</h1>
        <div class="map_space">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d105916.27391593787!2d25.475396847280155!3d-33.944122829081856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbook%20store!5e0!3m2!1sen!2sza!4v1682346464658!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   

        <!--space from ccolumn and nav-->
        <div class="bottom_space"></div>
    </div>

</body>
</html>

